@{
	ViewData["Title"] = "Начало";
}

<div class="text-center">
	<h1 class="display-4">ClassicoWear</h1>

	<p>Добре дошли в ClassicoWear – Където стилът среща мъжествеността.</p>

  <img src="/images/FNC_4076-700x934.jpg"
	 alt="Моята снимка"
	 width="700"
	 height="934" />

</div>
