@{
	ViewData["Title"] = "Начало";
	ViewData["BodyClass"] = "home-bg";
}

<div class="text-center">
	<h1 class="display-4">ClassicoWear</h1>

	<p>Добре дошли в ClassicoWear – Където стилът среща мъжествеността.</p>

	<div class="home-hero">
		<img class="home-hero-img" src="/images/FNC_4076-700x934.jpg"
			 alt="Моята снимка" />
		<div class="home-hero-content">
		</div>
	</div>

</div>
