@{
    ViewData["Title"] = "Аксесоари";
}

<h1>@ViewData["Title"]</h1>

<p>
    Добавете стил към своя костюм с нашата подбрана колекция от аксесоари.
</p>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Вратовръзки</h5>
                <p class="card-text">
                    Класически и модерни модели в различни цветове и десени,
                    подходящи за официални и бизнес поводи.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Папионки</h5>
                <p class="card-text">
                    Елегантни папионки за специални събития – сватби, балове
                    и официални вечери.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Колани</h5>
                <p class="card-text">
                    Висококачествени кожени колани, които допълват визията
                    на всеки костюм.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Кърпички за сако</h5>
                <p class="card-text">
                    Фини детайли, които придават завършен и стилен вид
                    на вашия костюм.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Маншети и копчета</h5>
                <p class="card-text">
                    Елегантни копчета за ръкавели и маншети, подходящи за
                    официални ризи и костюми.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Други аксесоари</h5>
                <p class="card-text">
                    Шалове, тиранти и други допълнения, които правят визията
                    ви уникална.
                </p>
            </div>
        </div>
    </div>
</div>

